<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="9da52794-5b99-46d4-abe4-225bb7c47b6f"
    Publisher="CN=alexp"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="9da52794-5b99-46d4-abe4-225bb7c47b6f" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>WebVApp</DisplayName>
    <PublisherDisplayName>alexp</PublisherDisplayName>
    <Logo>Assets\webva.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="WebVApp.App">
      <uap:VisualElements
        DisplayName="WebVApp"
        Description="WebVApp"
        BackgroundColor="transparent" Square150x150Logo="Assets\webva.png" Square44x44Logo="Assets\webva.png">
        <uap:DefaultTile>
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>